@model IEnumerable<BlackFridayWeb.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<label for="accept">
    <input type="checkbox" id="accept" name="accept" value="yes" onclick="myFunction()">  Black Friday
</label>
<script>
    const cb = document.getElementById('accept');
    console.log(cb.checked);
    window.addEventListener('DOMContentLoaded', (event) => {
        var y = document.getElementById("isBf");
        y.style.display = "none";
    });
    function myFunction() {
        var x = document.getElementById("noBf");
        var y = document.getElementById("isBf");
        if (x.style.display === "none") {
            x.style.display = "block";
            y.style.display = "none";
            for (let i = 0; i < document.getElementsByClassName("price").length; i++) {
                var calculator = document.getElementsByClassName("price")[i];
                var originP = document.getElementsByClassName("originP")[i];
                calculator.innerHTML = parseInt(originP.innerHTML) ;
            }

        } else {
            x.style.display = "none";
            y.style.display = "block";
            for (let i = 0; i < document.getElementsByClassName("price").length; i++) {
                var calculator = document.getElementsByClassName("price")[i];
                calculator.innerHTML = parseInt( parseInt(calculator.innerHTML) + parseInt(document.getElementsByClassName("price")[i].innerHTML) * (parseInt(document.getElementsByClassName("multipli")[i].innerHTML) / 100));
            }
        }
    }

</script>
<br>
<table class="table" id="noBf">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.manufacturer)
                </td>
                <td class="originP">
                    @Html.DisplayFor(modelItem => item.price)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<table class="table" id="isBf">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price )
            </th>
            <th hidden>
                @Html.DisplayNameFor(model => model.multiplier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bfPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.manufacturer)
                </td>
                <td class="price">
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td class="multipli" hidden>
                    @Html.DisplayFor(modelItem => item.multiplier)
                </td>
                <td class="blackfp">
                    @Html.DisplayFor(modelItem => item.bfPrice)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>